<h2 style="font-family:Goldman; color:white">create a new cocktail</h2>

<div class="d-grid">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name, label: 'Name your Poison' %>
    <%= f.input :photo, label: 'Add a fancy pic', as: :file %>
    <%= f.button :submit, class:"lightning-button"%>
  <% end %>
</div>

<%= link_to "Back to List", cocktails_path %>